@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 antialiased selection:bg-yellow-400 selection:text-black;
  }
}

/* Premium Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
  /* slate-950 */
}

::-webkit-scrollbar-thumb {
  background: #facc15;
  /* yellow-400 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #eab308;
  /* yellow-500 */
}

/* Custom styles for printing */
@media print {
  .no-print {
    display: none !important;
  }

  body {
    background: white !important;
    color: black !important;
  }
}